In [13]:
import pandas as pd
import os

In [14]:
baseFile = "201801 - citibike - tripdata"

In [15]:
allFilePaths = []

In [16]:
for i in range (1, 13):
    month = i
    if (i < 10):
        month = "0" + str(i)
    subFolder = "BikeData/"
    fileName = f"{subFolder}2018{month}-citibike-tripdata.csv"
    allFilePaths.append(fileName)

In [18]:
df = pd.DataFrame()

for path in allFilePaths:
    df = df.append(pd.read_csv(path))

In [19]:
df.starttime = pd.to_datetime(df.starttime)
df.stoptime = pd.to_datetime(df.stoptime)

In [20]:
df["Month"] = [x.month for x in df.starttime]
df["Day"] = [x.day for x in df.starttime]

In [21]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month,Day
0,970,2018-01-01 13:50:57.434,2018-01-01 14:07:08.186,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1,1,1
1,723,2018-01-01 15:33:30.182,2018-01-01 15:45:33.341,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1,1,1
2,496,2018-01-01 15:39:18.337,2018-01-01 15:47:35.172,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1,1,1
3,306,2018-01-01 15:40:13.372,2018-01-01 15:45:20.191,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1,1,1
4,306,2018-01-01 18:14:51.568,2018-01-01 18:19:57.642,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1,1,1

In [22]:
dfSub = df.sample(frac=0.02, random_state=25)
dfSub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 350967 entries, 847494 to 102786
Data columns (total 17 columns):
tripduration               350967 non-null int64
starttime                  350967 non-null datetime64[ns]
stoptime                   350967 non-null datetime64[ns]
start station id           350905 non-null float64
start station name         350905 non-null object
start station latitude     350967 non-null float64
start station longitude    350967 non-null float64
end station id             350905 non-null float64
end station name           350905 non-null object
end station latitude       350967 non-null float64
end station longitude      350967 non-null float64
bikeid                     350967 non-null int64
usertype                   350967 non-null object
birth year                 350967 non-null int64
gender                     350967 non-null int64
Month                      350967 non-null int64
Day                        350967 non-null int64
dtypes: datetime64[ns](2), float64(6), int64(6), object(3)
memory usage: 48.2+ MB

In [24]:
dfSub.groupby(["Month"]).Month.count() / len(dfSub)

Month
1     0.041337
2     0.048811
3     0.055686
4     0.074514
5     0.103565
6     0.111569
7     0.109124
8     0.112925
9     0.106303
10    0.106332
11    0.072084
12    0.057749
Name: Month, dtype: float64

In [25]:
dfSub.to_csv("BikeData/random_bike_data.csv")